backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.3.2
certifi==2015.4.28
click==4.0
et-xmlfile==1.0.1
geopy==1.10.0
gnureadline==6.3.3
ipython==3.1.0
jdcal==1.0
Jinja2==2.7.3
livereload==2.4.0
Markdown==2.6.2
MarkupSafe==0.23
mkdocs==0.14.0
openpyxl==2.3.0
PyYAML==3.11
requests==2.7.0
six==1.9.0
tornado==4.2
